.app-layout {
  display: flex;
  min-height: 100dvh;
  align-items: stretch;
}

.app-layout_content {
  flex: auto;
  padding: 3rem;
  @media (min-width: 1024px) {
    padding: 4rem;
  }
  @media (min-width: 1280px) {
    padding: 8rem;
  }
}
